@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="display:flex; justify-content:center;">
    <div>

        ​<label class="col-form-label"><b>Branch Name</b></label>
        <input type="text" placeholder="Enter branch name" id="branchName">
    </div>

</div>
<div style="display:flex; justify-content:center;">
    <button class="btn-outline-secondary" id="addBranch">Add Branch</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#addBranch").on("click", function () {
            var name = $("#branchName").val();
            var branch = {
                BranchName: name
            };
            $.ajax({
                url: "/Branches/AddBranch",
                data: branch,
                type: "Post",
                success: function () {
                    alert("successful");
                }
            })
        })
    })
</script>
