@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Entity;
@model List<Branch>
<div style="overflow-x:auto;">
    <table>
        <tr>
            <th>Department Id</th>
            <th>Department Name</th>

        </tr>
        <tbody>
            @foreach (var branch in Model)
            {
                <tr>
                    <td >@branch.BranchId</td>
                    <td>@branch.BranchName</td>
                    <td>
                        <button class="btn-danger" id="btnDelete@(branch.BranchId)" onclick="deleteBranch(btnDelete@(branch.BranchId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    })
    function deleteBranch(id) {
        var currentRow = $(id).closest("tr");
        var id = currentRow.find("td:eq(0)").text();
        
        var branch = {
            BranchId: id
        };
        $.ajax({
            url: "/Branches/DeleteBranch",
            type: "Post",
            data: branch,
            success: function () {
                alert("Deleted successful");
            }
        })
    }
</script>
