@{
    Layout = "_Layout";
}

</div>
<div class="container">

    <div style="display:flex; justify-content:center;">
        <div>

            ​<label class="col-form-label"><b>Name</b></label>
            <input type="text" placeholder="Enter  name" id="name">
        </div>
    </div>

    <div style="display:flex; justify-content:center;">
        <div>

            ​<label class="col-form-label"><b>Surname</b></label>
            <input type="text" placeholder="Enter Surname " id="surname">
        </div>
    </div>

    <div style="display:flex; justify-content:center;">
        <div>
            ​<label class="col-form-label"><b>Phone</b></label>
            <input type="text" placeholder="Enter Phone " id="phone">
        </div>
    </div>
    <div style="display:flex; justify-content:center;">
        <div>

            ​<label class="col-form-label"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" id="mail">
        </div>
    </div>
    <div style="display:flex; justify-content:center;">
        <div class="branches">
            <select>
                @foreach (var branch in ViewBag.Branches)
                {
                    <option value="@branch.BranchId"> @branch.BranchName</option>
                }
            </select>
        </div>
    </div>
    <div style="display:flex; justify-content:center;">
        <button class="btn-outline-secondary" id="addDepartment">Add User</button>
    </div>
</div>











<script type="text/javascript">
    $(document).ready(function () {
        $("#addDepartment").on("click", function () {
            var branchId = $("div.branches select").val();
            var name = $("#name").val();
            var surname = $("#surname").val();
            var phone = $("#phone").val();
            var mail = $("#mail").val();
            var user = {
                Name: name,
                Surname: surname,
                Email: mail,
                Phone: phone,
                BranchId: branchId
            };
            $.ajax({
                url: "/Users/AddUser",
                data: user,
                type: "Post",
                success: function () {
                    alert("successful");
                }
            })
        })
    })
</script>
